body {
    margin: 0;
    font-family: Arial, sans-serif;
}
nav a:hover {
background-color: #555;
color: #fff;
}

nav a#home:hover {
background-color:pink; 
}

nav a#about:hover {
background-color:yellow; 
}

nav a#services:hover {
background-color: green; 
}

nav a#contact:hover {
background-color:blue; 
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:yellow;
    padding: 10px 0;
    z-index: 1000;
    transition: background-color blue;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #cd0c0c;
    color: #fff;
}

section {
    padding: 50px;
    margin-top: 60px;
}